


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project1-photos-static - Frisk Agency</title>

    <link rel="stylesheet" href="../../../css/style.css">

</head>


<body>


<section class="hero text-center">
    <h1 style="color: white;">Wildlife & Nature Photography</h1>
</section>



<section class="container text-center">
    <h2>Capturing Life in the Wild</h2>
    <p>
        Stunning wildlife portraits and breathtaking landscapes.
        A tribute to the beauty of nature, captured through the lens.
    </p>
</section>



<section class="gallery text-center">
    <h2>Gallery</h2>

    <div class="container flex-center">
        <div class="gallery-item">
            <img src="../../../img/animals_lion.jpeg" 
                 class="gallery-img" alt="Lion">
        </div>

        <div class="gallery-item">
            <img src="../../../img/animals_fox.jpg" 
                 class="gallery-img" alt="Fox">
        </div>

        <div class="gallery-item">
            <img src="../../../img/paisage1.jpeg" 
                 class="gallery-img" alt="Paisage">
        </div>
    </div>
</section>

<section class="wanto_to_work text-center">
    <h2>Want to Work Together?</h2>
    <p>Let's create an unforgettable visual story.</p>

    <a href="mailto:987frisk.agency@gmail.com" class="btn">
        Contact Me
    </a>
</section>


