




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog-article - Frisk Agency</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">       <!-- global -->
    <link rel="stylesheet" href="../css/blog.css">  <!-- específico -->
</head>


<body>

<!-- Header -->
<div id="header"></div>

<main>

<section class="blog-article-page">
    <div class="blog-article-container flex-column flex-center">
        <h1>title post</h1>

            <img src="../img/blog3.jpeg" alt="post_image">

        <p>hsdhsjsfjsjsjsdh</p>


            <!-- {% if current_user.is_authenticated %} -->

            <!-- <div class="blog-article-actions">
                <a href="blog/blog_edit.html" class="btn">Edit article</a>

                <form method="POST" action="blog/blog_delete.html', post_id=post.id"
                      onsubmit="return confirm('Are you sure you want to delete this post?');">
                    <button class="btn btn-danger" type="submit">Delete article</button>
                </form>
            </div>  -->

        <a href="blog.html" class="btn">Back</a>
    </div>
</section>

</main>



<!-- footer -->
<div id="footer"></div>

<script src="../js/script.js"></script>


</body>
