
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog - Frisk Agency</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">       <!-- global -->
    <link rel="stylesheet" href="../css/blog.css">  <!-- específico -->
</head>


<body>


    



<header>
    <div class="container flex-column">

        <p class="logo">
            <a href="home.html">
                <img src="../img/logo_web.jpeg" alt="logo_web">
            </a>
        </p>
        
        <nav>
            <a href="home.html">HOME</a>
            <a href="pages.html">ABOUT</a>
            <a href="portfolio.html">PORTFOLIO</a>
            <a href="blog.html">BLOG</a>
            <a href="contact.html">CONTACT</a>
        </nav>
        
        <div class="header-login">
            <!-- Aquí simulamos usuario no autenticado -->
            <a href="login.html">Login</a>
        </div>

        <div class="search">
            <a href="mailto:987frisk.agency@mail.com" class="btn">WORK WITH ME</a>
        </div>
       
    </div>
</header>




<main>

    <section>
        <div class="hero">
            <img src="../img/aboutme_alexmore.jpeg" alt="photo_computer">
            <div class="container">
                <h1>Blog</h1>
            </div>
        </div>
    </section>



<section id="blog" class="blog_section">
    <div class="container">
        <div class="blog_container">

            
            <div class="new_post flex-center">
                <a href="blog/blog_new.html" class="btn">+ New post</a>
            </div>
           

            <div class="blog_card">
                <img src="../img/blog1.jpeg" alt="post_image">
                <h3>blog title</h3>
                <p>osaidfhjoiasjdf aoidjfoaijdfiasjdf iaojfoiajsdoifja</p>              
                <a href="blog/blog_article.html" class="btn">View more</a>
            </div>

            <div class="blog_card">
                <img src="../img/blog3.jpeg" alt="post_image">
                <h3>blog title</h3>
                <p>osaidfhjoiasjdf aoidjfoaijdfiasjdf iaojfoiajsdoifja</p>              
                <a href="blog/blog_article.html" class="btn">View more</a>
            </div>

            <div class="blog_card">
                <img src="../img/blog2.jpeg" alt="post_image">
                <h3>blog title</h3>
                <p>osaidfhjoiasjdf aoidjfoaijdfiasjdf iaojfoiajsdoifja</p>              
                <a href="blog/blog_article.html" class="btn">View more</a>
            </div>

            <div class="blog_card">
                <img src="../img/blog3.jpeg" alt="post_image">
                <h3>blog title</h3>
                <p>osaidfhjoiasjdf aoidjfoaijdfiasjdf iaojfoiajsdoifja</p>              
                <a href="blog/blog_article.html" class="btn">View more</a>
            </div>

            <div class="blog_card">
                <img src="../img/blog2.jpeg" alt="post_image">
                <h3>blog title</h3>
                <p>osaidfhjoiasjdf aoidjfoaijdfiasjdf iaojfoiajsdoifja</p>              
                <a href="blog/blog_article.html" class="btn">View more</a>
            </div>


           <!--  {% else %}
                <p>There are not articles yet.</p>
            {% endfor %} -->

        </div>
    </div>
</section>

</main>







<footer id="footer">
    <div class="container">
        <div class="container_left">
            <h3>
                Get valuable strategy, culture and brand insights straight to your inbox
            </h3>

            <h4>Contact</h4>
            <address>
                27 Division St, New York,<br>
                NY 10002, Usa<br>
                <br>
                +1800123654987<br>
                <a href="mailto:987frisk.agency@mail.com">987frisk.agency@mail.com</a>
            </address>
        </div>

        <div class="container_right">
            <h4>Links</h4>
            <nav>
                <a href="{{ url_for('pages.pages') }}">About</a>
                <a href="{{ url_for('portfolio.portfolio') }}">Portfolio</a>
                <a href="{{ url_for('pages.pages') }}">Services</a>
                <a href="{{ url_for('blog.blog') }}">Testimonials</a>
                <a href="{{ url_for('contact.contact') }}">Careers</a>
            </nav>
        </div> 

    </div>

    <small>
        Copyright C 2026 - 
        <a href="mailto:manelocana.dev@gmail.com">manelocana.dev@gmail.com</a>
    </small>
    
</footer>







</body>



