

<header>
    <div class="container flex-column">

        <p class="logo">
            <a href="home.html">
                <img src="../img/logo_web.jpeg" alt="logo_web">
            </a>
        </p>
        
        <nav>
            <a href="home.html">HOME</a>
            <a href="pages.html">ABOUT</a>
            <a href="portfolio.html">PORTFOLIO</a>
            <a href="blog.html">BLOG</a>
            <a href="contact.html">CONTACT</a>
        </nav>
        
        <div class="header-login">
            <!-- Aquí simulamos usuario no autenticado -->
            <a href="login.html">Login</a>
        </div>

        <div class="search">
            <a href="mailto:987frisk.agency@mail.com" class="btn">WORK WITH ME</a>
        </div>
       
    </div>
</header>
